{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/flextables_uc.css' %}">
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
        <meta name="theme-color" content="#cecece">
        <script src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/plugins.js' %}"></script>
        <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

        <style>
            #canvas {
                border: 3px solid rgb(0, 0, 0);
                background-color: grey;
                margin: 0 auto
            }
        </style>
    </head>
    <body class="theme-dark">
        <div class="container-page-nofooter container-page-nonavi">
            <header class="container-titlebar" id="head">
                <div>
                    <!-- flex wrapper -->
                    <div>
                        <div>
                            &#8203; <!-- zero-width unicode char to force rendering of the div -->
                        </div>
                        <div>
                            <i class="nf nf-mdi-arrow_left_thick"></i>
                        </div>
                    </div>
                    <div class="pad-sides margin-r-5x">
                        &#8203; <!-- zero-width unicode char to force rendering of the div -->
                    </div>
                    <div>
                        <h1>Fabius</h1>
                    </div>
                    <div>
                        <div id="pageclock"></div>
                        <img src="{% static 'img/OK_Logo_white.png' %}" class="logo">
                    </div>
                </div>
            </header>
            <div class="container-content">
                <nav class="breadcrumb">
                    <div>
                        <span><a href="http://127.0.0.1:700/">home</a><a href="http://127.0.0.1:700/interactive">interactive</a></span>
                    </div>
                </nav>
                <main class="content-full">
                    <h1 class="fixed-headline transition-standard border-and-shadow">Interactive Page</h1>
                    <form class="full-width flex-left pad-sides" method="POST" action="">
                        {% csrf_token %}
                        <div class="full-width pad-all-half" style="display:flex; flex-wrap:wrap">
                            <div class="pad-all-half" style="flex:50%">
                                <label>Player 1</label>
                            </div>
                            <div class="pad-all-half" style="display:inline-flex; flex:50%">
                                <label>Player 2</label>
                            </div>
                        </div>
                        <canvas id="canvas" width="810" height="600"></canvas>
                    </form>
                </main>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
        $(function(){
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            var $canvas=$("#canvas");
            var canvasOffset=$canvas.offset();
            var offsetX=canvasOffset.left;
            var offsetY=canvasOffset.top;
            var scrollX=$canvas.scrollLeft();
            var scrollY=$canvas.scrollTop();
            var kästchen = {};
            var nea = true;
            var lastiunda = [];
            var feldinfo = [];
            var neighbour = {};
            context.strokeStyle = "white";
            context.lineWidth = 2;
            

            function draw() {
                context.beginPath();
                for(var i = 0; i < 27; i++) {
                    for(var a = 0; a < 20; a++) {
                        kästchen[i, a] = [1,1,1,1];
                        context.rect(30*i, 30*a, 30, 30);
                        context.stroke();
                    }
                }
            }

            draw();


            function place(i, a) {
                feldinfo = kästchen[i, a];
                context.strokeStyle = "red"
                context.beginPath();
                console.log(lastiunda[0]-1)
                console.log(lastiunda[1])
                if(feldinfo[0] == 1) {
                    if(lastiunda[1]-1 == a&&lastiunda[0] == i) {
                        context.moveTo((30*i)+30, (30*(a+1)));
                        context.lineTo((30*i), (30*(a+1)));
                        kästchen[i, a][2] = false
                        kästchen[lastiunda[0], lastiunda[1]][0] = false
                        nea = true;
                    }
                }
                if(feldinfo[1] == 1) {
                    if(lastiunda[0]+1 == i&&lastiunda[1] == a) {
                        context.moveTo((30*(i-1))+30, (30*a));
                        context.lineTo((30*(i-1))+30, (30*a)+30);
                        kästchen[i, a][3] = false
                        kästchen[lastiunda[0], lastiunda[1]][1] = false
                        nea = true;
                    }
                }
                if(feldinfo[2] == 1) {
                    if(lastiunda[1]+1 == a&&lastiunda[0] == i) {
                        context.moveTo((30*i), (30*(a-1))+30);
                        context.lineTo((30*i)+30, (30*(a-1))+30);
                        kästchen[i, a][0] = false
                        kästchen[lastiunda[0], lastiunda[1]][2] = false
                        nea = true;
                    }
                }
                if(feldinfo[3] == 1) {
                    if(lastiunda[0]-1 == i&&lastiunda[1] == a) {
                        context.moveTo((30*(i+1)), (30*a));
                        context.lineTo((30*(i+1)), (30*a)+30);
                        kästchen[i, a][1] = false
                        kästchen[lastiunda[0], lastiunda[1]][3] = false
                        nea = true;
                    }
                }
                if(feldinfo == [false, false, false, false]) {
                    nea = true
                }
                context.stroke();
            }

            function selecthilfsblock(i, a, neighbour) {
                context.beginPath();
                context.fillStyle = "rgba(86, 199, 228, 0.555)";
                console.log(kästchen[i, a])
                for(var x = 0; x < 4; x++) {
                    if(neighbour[x] != false) {
                        if(kästchen[i, a][x] != false) {
                            context.rect((neighbour[x][1]*30), (neighbour[x][0]*30), 30, 30);
                        }
                    }
                }
                context.fill();
                nea = false;
            }


            function barrier(i, a, farbe) {
                context.strokeStyle = farbe;
                context.beginPath();
                feldinfo = kästchen[i, a];
                neighbour = {
                    0: [],
                    1: [],
                    2: [],
                    3: [],
                };
                // topleft - topright
                if(feldinfo[0] == 1) {
                    context.moveTo((30*i), (30*a));
                    context.lineTo((30*i)+30, (30*a));
                    if(a != 0) {
                        neighbour[0].push(a-1);
                        neighbour[0].push(i);
                    }  else {neighbour[0].push(false)}
                }  else {neighbour[0].push(false)}
                //topright - bottomright
                if(feldinfo[1] == 1) {
                    context.moveTo((30*i)+30, (30*a));
                    context.lineTo((30*i)+30, (30*a)+30);
                    if(i != 26) {
                        neighbour[1].push(a);
                        neighbour[1].push(i+1);
                    }  else {neighbour[1].push(false)}
                }  else {neighbour[1].push(false)}
                //bottomleft - bottomright
                if(feldinfo[2] == 1) {
                    context.moveTo((30*i), (30*a)+30);
                    context.lineTo((30*i)+30, (30*a)+30);
                    if(a != 19) {
                        neighbour[2].push(a+1);
                        neighbour[2].push(i);
                    }  else {neighbour[2].push(false)}
                }  else {neighbour[2].push(false)}
                //topleft - bottomleft
                if(feldinfo[3] == 1) {
                    context.moveTo((30*i), (30*a));
                    context.lineTo((30*i), (30*a)+30);
                    if(i != 0) {
                        neighbour[3].push(a);
                        neighbour[3].push(i-1);
                    }  else {neighbour[3].push(false)}
                }  else {neighbour[3].push(false)}
                context.stroke();
                console.log(neighbour)
                selecthilfsblock(i, a, neighbour)
            }


            function check(xwert, ywert) {
                i = Math.floor(xwert/30)
                a = Math.floor(ywert/30)
                if(nea == false) {
                    place(i, a)
                }  else {
                    lastiunda = [i, a]
                    barrier(i, a, "black")
                }
            }

            canvas.addEventListener('mousedown', function(evt) {
                let rect = canvas.getBoundingClientRect();
                var pos = {
                    x: evt.clientX - rect.left,
                    y: evt.clientY - rect.top,
                }
                check(pos.x, pos.y)
            });

        
        });    
        </script>
    </body>
</html>