{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Käsekästchen</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/flextables_uc.css' %}">
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
        <meta name="theme-color" content="#cecece">
        <script src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/plugins.js' %}"></script>
        <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

        <style>
            #canvas {
                position: relative;
                top: 30%;
                margin-right: auto;
                margin-left: auto;
                border: 3px solid rgb(0, 0, 0);
                background-color: grey;
            }
            #Sieglabel {
                position: relative;
                top: 50%;
                margin-right: auto;
                margin-left: auto;
            }
            #borderumplayer {
                position: relative;
                min-width: 9em;
                top: 10%;
                left: 30%;
                border-bottom-color: red;
                border-left-color: transparent;
                border-right-color: transparent;
                border-top-color: transparent;
                border-style: solid;
            }
        </style>
    </head>
    <body class="theme-dark">
        <div class="container-page-nofooter container-page-nonavi">
            <header class="container-titlebar" id="head">
                <div>
                    <!-- flex wrapper -->
                    <div>
                        <div>
                            &#8203; <!-- zero-width unicode char to force rendering of the div -->
                        </div>
                        <div>
                            <i class="nf nf-mdi-arrow_left_thick"></i>
                        </div>
                    </div>
                    <div class="pad-sides margin-r-5x">
                        &#8203; <!-- zero-width unicode char to force rendering of the div -->
                    </div>
                    <div>
                        <h1>Fabius</h1>
                    </div>
                    <div>
                        <div id="pageclock"></div>
                        <img src="{% static 'img/OK_Logo_white.png' %}" class="logo">
                    </div>
                </div>
            </header>
            <div class="container-content">
                <nav class="breadcrumb">
                    <div>
                        <span><a href="http://127.0.0.1:700/">home</a><a href="http://127.0.0.1:700/settings">settings</a><a href="http://127.0.0.1:700/interactive">käsekästchen</a></span>
                    </div>
                </nav>
                <main class="content-full">
                    <h1 class="fixed-headline transition-standard border-and-shadow">Käsekästchen</h1>
                    <form class="full-width flex-left pad-sides" method="POST" action="">
                        {% csrf_token %}
                        <div class="full-width pad-all-half" style="display:flex; flex-wrap:wrap">
                            <div class="pad-all-half" style="flex:31%"></div>
                            <div class="pad-all-half" style="flex:15%">
                                <label id="p1" style="color: red; font-Size:25px; font-weight: 8;">Player 1: 0</label>
                            </div>
                            <div class="pad-all-half" style="display:inline-flex; flex:14%">
                                <label id="zeit" style="color: white; font-Size:18px; font-weight: 6;">Timer: 10</label>
                            </div>
                            <div class="pad-all-half" style="display:inline-flex; flex:39%">
                                <label id="p2" style="color: white; font-Size:18px; font-weight: 6;">Player 2: 0</label>
                            </div>
                            <div id="borderumplayer" >
                            </div>
                        </div>
                    <div class="pad-all-half" style="display:inline-flex; flex:100%" style="align-items: center; justify-content: center">
                        <canvas id="canvas"></canvas>
                    </div>
                    <div class="pad-all-half" style="display:inline-flex; flex:100%" style="align-items: center; justify-content: center">
                        <label id="Sieglabel" style="font-size: '30'; font-weight: bold;"></label>
                    </div>
                    
                    </form>
                </main>
            </div>
        </div>
        <script>
        $(function(){
            var xyfeldgröße = JSON.parse('{{ feldgröße|escapejs }}');
            let xgröße = Number(xyfeldgröße[0]);
            let ygröße = Number(xyfeldgröße[1]);
            if(xgröße * ygröße > 500) {
                xgröße = 10;
                ygröße = 10;
            }
            var Feldgröße = [xgröße,ygröße];
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            var $canvas=$("#canvas");
            var canvasOffset=$canvas.offset();
            var offsetX=canvasOffset.left;
            var offsetY=canvasOffset.top;
            var kästchen = [];
            var nea = 1;
            var lastiunda = [];
            var feldinfo = [];
            var neighbour = {};
            var kästcheninfos = Array.from(Array(Feldgröße[0]), () => new Array(Feldgröße[1]));
            var amZug = "Player 1";
            var p1points = 0;
            var p2points = 0;
            var angekreuzt = 0;
            var kreuzeinkästchen = [];
            var letztermouseover = [];
            var player_x_color = JSON.parse('{{ spielerfarben|escapejs }}');
            var strichfarbe = JSON.parse('{{ strich_color|escapejs }}');
            var doAnim=true;
            var counter = 15;
            var autoplaceing = "passive";


            function timer() {
                if(counter > 0) {
                    counter--;
                    timetext = "Timer: " + counter;
                    document.getElementById("zeit").innerHTML = timetext;
                }
                if(counter == 0) {
                    autoplace();
                }
            }
            window.setInterval(timer, 1000);

            //automatisches Platzieren von Strichen
            function autoplace() {
                autoplaceing = "active";
                while(autoplaceing == "active") {
                    x = Math.random()*Feldgröße[0];
                    y = Math.random()*Feldgröße[1];
                    zufallszahl = Math.random()*4;
                    zufallszahl = Math.floor(zufallszahl);
                    i = Math.floor(x);
                    a = Math.floor(y);
                    if(zufallszahl == 0) {
                        lastiunda[0] = i-1;
                        lastiunda[1] = a;
                    }
                    else if(zufallszahl == 1) {
                        lastiunda[0] = i+1;
                        lastiunda[1] = a;
                    }
                    else if(zufallszahl == 2) {
                        lastiunda[1] = a-1;
                        lastiunda[0] = i;
                    }
                    else if(zufallszahl == 3) {
                        lastiunda[1] = a+1;
                        lastiunda[0] = i;
                    }
                    try {
                        place(i, a);
                        boxabkreuzen1(i, a);
                    } catch {
                        return
                    }
                    
                }
                    
            }

            function turn() {
                if(amZug == "Player 1") {
                    counter = 16;
                    playerwechselanimation(amZug);
                    amZug = "Player 2";
                    p2 = document.getElementById("p2");
                    p2.innerHTML = "Player 2: " + p2points;
                    p2.style.color = "red";
                    p2.style.fontSize = "25px";
                    p2.style.fontWeight = "8";
                    p1 = document.getElementById("p1");
                    p1.innerHTML = "Player 1: " + p1points;
                    p1.style.color = "white";
                    p1.style.fontSize = "18px";
                    p1.style.fontWeight = "6";

                } else {
                    counter = 16;
                    playerwechselanimation(amZug);
                    amZug = "Player 1";
                    p1 = document.getElementById("p1");
                    p1.innerHTML = "Player 1: " + p1points;
                    p1.style.color = "red";
                    p1.style.fontSize = "25px";
                    p1.style.fontWeight = "8";
                    p2 = document.getElementById("p2");
                    p2.innerHTML = "Player 2: " + p2points;
                    p2.style.color = "white";
                    p2.style.fontSize = "18px";
                    p2.style.fontWeight = "6";
                }
            }
            

            function points(borders) {
                altekreuze = kreuzeinkästchen;
                kreuzeinkästchen = []
                for(var i = 0; i < Feldgröße[0]; i++) {
                    for(var a = 0; a < Feldgröße[1]; a++) {
                        kreuzeinkästchen.push(Array.prototype.includes.call(kästcheninfos[i][a], 1));
                    }
                }
                falsein_altekreuze = altekreuze.filter(function condition(element) {
                    if(element == false) return true
                    return false
                })
                falsein_kreuzeinkästchen = kreuzeinkästchen.filter(function condition(element) {
                    if(element == false) return true
                    return false
                })
                if( falsein_altekreuze.length != falsein_kreuzeinkästchen.length) {
                    punktefürplayer = falsein_kreuzeinkästchen.length - falsein_altekreuze.length;
                    if(amZug == "Player 1") {
                        p1points += punktefürplayer; 
                        p1 = document.getElementById("p1")
                        p1.innerHTML = "Player 1: " + p1points;
                    } else {
                        p2points++
                        p2 = document.getElementById("p2")
                        p2.innerHTML = "Player 2: " + p2points;
                    }
                } else {
                    turn();
                }

                if(kreuzeinkästchen.includes(true) != true) {
                        if(p1points > p2points) {
                            sieger = "Player 1 hat gewonnen!";
                        } else if(p1points == p2points) {
                            sieger = "Unentschieden";
                        } else {
                            sieger = "Player 2 hat gewonnen!";
                        }
                        sieglabel = document.getElementById("Sieglabel");
                        sieglabel.innerHTML = sieger;

                
                
                } 

            }

            function draw() {
                canvas.marginleft = -(Feldgröße[0]*30);
                canvas.width = (Feldgröße[0]*30);
                canvas.height = (Feldgröße[1]*30);
                context.strokeStyle = "#616161";
                context.lineWidth = 2;
                context.beginPath();
                for(var i = 0; i < Feldgröße[0]; i++) {
                    for(var a = 0; a < Feldgröße[1]; a++) {
                        kästcheninfos[i][a] = [1,1,1,1];
                        context.rect(30*i, 30*a, 30, 30);
                        context.stroke();
                        if(i == 0) {
                            kästcheninfos[i][a][3] = false
                        }
                        if(i == (Feldgröße[0]-1)) {
                            kästcheninfos[i][a][1] = false
                        }
                        if(a == 0) {
                            kästcheninfos[i][a][0] = false
                        }
                        if(a == (Feldgröße[1]-1)) {
                            kästcheninfos[i][a][2] = false
                        }
                    }
                }

            }
            

            draw();


            function place(i, a) {
                feldinfo = kästcheninfos[lastiunda[0]][lastiunda[1]];
                context.strokeStyle = strichfarbe[0];
                context.beginPath();
                if(feldinfo[0] == 1) {
                    if(lastiunda[1]-1 == a && lastiunda[0] == i) {
                        context.moveTo((30*i)+30, (30*(a+1)));
                        context.lineTo((30*i), (30*(a+1)));
                        kästcheninfos[i][a][2] = false
                        kästcheninfos[lastiunda[0]][lastiunda[1]][0] = false
                        points(kästcheninfos[lastiunda[0]][lastiunda[1]]);
                        autoplaceing = "passive";
                    }
                }
                if(feldinfo[1] == 1) {
                    if(lastiunda[0]+1 == i && lastiunda[1] == a) {
                        context.moveTo((30*(i-1))+30, (30*a)+30);
                        context.lineTo((30*(i-1))+30, (30*a));
                        kästcheninfos[i][a][3] = false
                        kästcheninfos[lastiunda[0]][lastiunda[1]][1] = false
                        points(kästcheninfos[lastiunda[0]][lastiunda[1]]);
                        autoplaceing = "passive";
                    }
                }
                if(feldinfo[2] == 1) {
                    if(lastiunda[1]+1 == a && lastiunda[0] == i) {
                        context.moveTo((30*i), (30*(a-1))+30);
                        context.lineTo((30*i)+30, (30*(a-1))+30);
                        kästcheninfos[i][a][0] = false
                        kästcheninfos[lastiunda[0]][lastiunda[1]][2] = false
                        points(kästcheninfos[lastiunda[0]][lastiunda[1]]);
                        autoplaceing = "passive";
                    }
                }
                if(feldinfo[3] == 1) {
                    if(lastiunda[0]-1 == i && lastiunda[1] == a) {
                        context.moveTo((30*(i+1)), (30*a));
                        context.lineTo((30*(i+1)), (30*a)+30);
                        kästcheninfos[i][a][1] = false
                        kästcheninfos[lastiunda[0]][lastiunda[1]][3] = false
                        points(kästcheninfos[lastiunda[0]][lastiunda[1]]);
                        autoplaceing = "passive";
                    }
                }
                nea = 1
                context.stroke();
                try {
                    removehilfsblock(lastiunda[0], lastiunda[1], "grey");
                    barrierarroundfield(lastiunda[0], lastiunda[1], "#616161", "remove");
                } catch {
                    return
                }
            }
                
            function removehilfsblock(i, a, color) {
                context.beginPath();
                context.fillStyle = color;

                for(var x = 0; x < 4; x++) {
                    context.rect(((neighbour[x][1]*30)+5), ((neighbour[x][0]*30)+5), 20, 20);
                }
                context.fill();
            }

            function selecthilfsblock(i, a, neighbour, color) {
                context.beginPath();
                context.fillStyle = color;
                for(var x = 0; x < 4; x++) {
                    if(neighbour[x] != false) {
                        if(kästcheninfos[i][a][x] != false) {
                            context.rect(((neighbour[x][1]*30)+5), ((neighbour[x][0]*30)+5), 20, 20);
                        }
                    }
                }
                context.fill();
                nea = 2;
            }


            function barrierarroundfield(i, a, farbe, add_remove) {
                context.strokeStyle = farbe;
                context.beginPath();
                feldinfo = kästcheninfos[i][a];
                neighbour = {
                    0: [],
                    1: [],
                    2: [],
                    3: [],
                };
                // topleft - topright
                if(feldinfo[0] == 1) {
                    context.moveTo((30*i), (30*a));
                    context.lineTo((30*i)+30, (30*a));
                    if(a != 0) {
                        neighbour[0].push(a-1);
                        neighbour[0].push(i);
                    }  else {neighbour[0].push(false)}
                }  else {neighbour[0].push(false)}
                //topright - bottomright
                if(feldinfo[1] == 1) {
                    context.moveTo((30*i)+30, (30*a));
                    context.lineTo((30*i)+30, (30*a)+30);
                    if(i != (Feldgröße[0]-1)) {
                        neighbour[1].push(a);
                        neighbour[1].push(i+1);
                    }  else {neighbour[1].push(false)}
                }  else {neighbour[1].push(false)}
                //bottomleft - bottomright
                if(feldinfo[2] == 1) {
                    context.moveTo((30*i), (30*a)+30);
                    context.lineTo((30*i)+30, (30*a)+30);
                    if(a != (Feldgröße[1]-1)) {
                        neighbour[2].push(a+1);
                        neighbour[2].push(i);
                    }  else {neighbour[2].push(false)}
                }  else {neighbour[2].push(false)}
                //topleft - bottomleft
                if(feldinfo[3] == 1) {
                    context.moveTo((30*i), (30*a));
                    context.lineTo((30*i), (30*a)+30);
                    if(i != 0) {
                        neighbour[3].push(a);
                        neighbour[3].push(i-1);
                    }  else {neighbour[3].push(false)}
                }  else {neighbour[3].push(false)}
                context.stroke();
                if(add_remove == "add"){
                    selecthilfsblock(i, a, neighbour, "rgba(86, 199, 228, 0.555)")
                }
            }

            function boxabkreuzen1(x, y) {
                if(kästcheninfos[i][a][0] == 1 || kästcheninfos[i][a][1] == 1 || kästcheninfos[i][a][2] == 1 || kästcheninfos[i][a][3] == 1) {
                    context.beginPath();
                    context.fillStyle = "grey";
                    context.rect(30*letztermouseover[0]+1, 30*letztermouseover[1]+1, 28, 28);
                    context.fill();
                }
                if(kästcheninfos[i][a][0] != 1 && kästcheninfos[i][a][1] != 1 && kästcheninfos[i][a][2] != 1 && kästcheninfos[i][a][3] != 1) {
                    context.beginPath();
                    context.fillStyle = "grey";
                    context.rect(30*i+1, 30*a+1, 28, 28);
                    context.fill();
                    letztermouseover = [];
                    boxabkreuzen2(i, a);
                }
                if(kästcheninfos[lastiunda[0]][lastiunda[1]][0] != 1 && kästcheninfos[lastiunda[0]][lastiunda[1]][1] != 1 && kästcheninfos[lastiunda[0]][lastiunda[1]][2] != 1 && kästcheninfos[lastiunda[0]][lastiunda[1]][3] != 1) {
                    context.beginPath();
                    context.fillStyle = "grey";
                    context.rect(30*lastiunda[0]+1, 30*lastiunda[1]+1, 28, 28);
                    context.fill();
                    letztermouseover = [];
                    boxabkreuzen2(lastiunda[0], lastiunda[1]);
                }
            }
            function boxabkreuzen2(x, y) {
                if(amZug == "Player 1") {
                    context.strokeStyle = player_x_color[0];
                    context.lineWidth = 2;
                    context.beginPath();
                    context.moveTo(30*x+4, 30*y+4);
                    context.lineTo(30*x+26, 30*y+26);
                    context.moveTo(30*x+26, 30*y+4);
                    context.lineTo(30*x+4, 30*y+26);
                    context.stroke();
                } else {
                    context.strokeStyle = player_x_color[1];
                    context.beginPath();
                    context.arc(30*x+15, 30*y+15, 11, 0, 2 * Math.PI);
                    context.stroke();

                }
            }


            function check(xwert, ywert) {
                i = Math.floor(xwert/30)
                a = Math.floor(ywert/30)
                if(nea == 2 && kästcheninfos[i][a] != [false, false, false, false]) {
                    nea = 1
                    place(i, a)
                }  else {
                    lastiunda = [i, a]
                    barrierarroundfield(i, a, "black", "add")
                }
            }

            canvas.addEventListener('mousedown', function(evt) {
                let rect = canvas.getBoundingClientRect();
                var pos = {
                    x: evt.clientX - rect.left,
                    y: evt.clientY - rect.top,
                }
                check(pos.x, pos.y)
                boxabkreuzen1(pos.x, pos.y)
            });

            canvas.addEventListener('mousemove', function(evt) {
                try {
                    let rect = canvas.getBoundingClientRect();
                    var pos = {
                        x: evt.clientX - rect.left,
                        y: evt.clientY - rect.top,
                    }
                    hoveranimation(pos.x, pos.y)
                }
                catch {
                    return
                }
            })

            function hoveranimation(xwert, ywert) {
                i = Math.floor(xwert/30)
                a = Math.floor(ywert/30)
                if(nea == 1 && kästcheninfos[i][a] != [false, false, false, false] && (kästcheninfos[i][a][0] == 1 || kästcheninfos[i][a][1] == 1 || kästcheninfos[i][a][2] == 1 || kästcheninfos[i][a][3] == 1)) {
                    context.beginPath();
                    context.fillStyle = "grey";
                    context.rect(30*letztermouseover[0]+1, 30*letztermouseover[1]+1, 28, 28);
                    context.fill();
                    context.beginPath();
                    context.fillStyle = "#636363";
                    context.rect(30*i+1, 30*a+1, 28, 28);
                    context.fill();
                    letztermouseover = [i, a];
                }
            }

            function playerwechselanimation(player) {
                var playerwechsel = document.getElementById('borderumplayer');
                if(player == "Player 1") {
                    playerwechsel.animate(
                        [
                            {
                                left: '30%',
                            }, {
                                left: '60%'
                            }
                        ], {
                            duration: 200,
                            fill: 'forwards'
                        }
                    )
                } else {
                    playerwechsel.animate(
                        [
                            {
                                left: '60%',
                            }, {
                                left: '30%'
                            }
                        ], {
                            duration: 200,
                            fill: 'forwards'
                        }
                    )
                }              
            }      
        });    
        </script>
    </body>
</html>