<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> <!-- reset css -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<style>
    body{ background-color: ivory; }
    #canvas{border:1px solid red;}
</style>

<script>
var kästcheninfos = Array.from(Array(27), () => new Array(20));
for(var i = 0; i < 27; i++) {
    for(var a = 0; a < 20; a++) {
        kästcheninfos[i][a] = [1,1,1,1];
        
    }
}
feldinfo = kästcheninfos[2][7]
console.log(feldinfo[2])    
</script>

</head>

<body>
    <canvas id="canvas" width=300 height=300></canvas>
</body>
</html>