<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> <!-- reset css -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<style>
    body{ background-color: ivory; }
    #canvas{border:1px solid red;}
</style>

<script>
zufallszahl = Math.random()*4;
zufallszahl = Math.floor(zufallszahl);
console.log(zufallszahl)
</script>

</head>

<body>
    <canvas id="canvas" width=300 height=300></canvas>
</body>
</html>